$font-main: "Comic Neue", cursive;
$font-second: "Coming Soon", cursive;

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5% auto;
  color: white;
  font-family: $font-second;
  font-weight: 500;
}

.search-header {
  margin: 2rem auto 3rem auto;
  text-align: center;
}

.search-header-link,
.search-header-link:visited,
.search-link:link {
  text-decoration: none;
  color: lightblue;
}

.search-header-link:hover {
  text-decoration: underline;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
}

#search-area {
  margin: 3rem auto;
  width: 30%;
}
